main{
    margin: 12px;
    text-align: center;
}

.card-container{
    display: inline-block;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 5px;
}

.card-img{
    border: 1px solid red;
    margin: 0 auto;
    width: 200px;
    height: 220px;
}

.card{
    width: 320px;
    border: 1px solid red;
}