

.active-routes{
    margin: 0 auto;
    width: 775px;
    margin-bottom: 120px;
}

.routes{
    
    width: 775px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.vendors-container{
    width: 775px;
    margin: 0 auto;
    margin-bottom: 15px;
}