
<main>
    <h2>Rutas activas</h2>
    <app-table/>
    <h2>Rutas existentes</h2>
    <table class="table table-striped-columns">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sombrerete</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dgo</td>
          </tr>
        </tbody>
    </table>
    <h2>Vendedores</h2>
    <table class="table table-striped-columns">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Arturo</td>
            <td>Covarrubias</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Carlos</td>
            <td>Madrid</td>
          </tr>
        </tbody>
    </table>
</main>

