<main>
  <div class="order-form">
    <h1>Pedidos</h1>
    <form action="">
      <div class="form-group">
        <div class="client-data">
          <h4>Datos del cliente</h4>
          <div class="input-group">
            <span class="input-group-text">Nombre y apellido</span>
            <input type="text" aria-label="Nombre" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
          </div>
        </div>
        <div class="order-data">
          <h4>Pedido</h4>
          <div class="name mb-4">
            <div class="input-group">
              <span class="input-group-text">Producto y cantidad</span>
              <input type="text" aria-label="Nombre" class="form-control">
              <input type="number" name="qty" id="" class="qty">
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Agregar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="table-container">
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Orden</th>
          <th scope="col">Ruta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Arturo</td>
          <td>1 Nutriplex pl25<br />
            20 winner perro 20<br />
            4 Basic Gen 20<br />
            4 Basic bop 20<br />
            5 Perrazo adulto 20<br />
            2 Perrazo cachorro 15<br />
            1 winner gato<br />
          </td>
          <td>Sombrerete</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Carlos</td>
          <td>20 winner perro 20</td>
          <td>Dgo</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>