<h1>Clientes</h1>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Nombre(s)</span>
    <input type="text" class="form-control" placeholder="Nombre" aria-label="name"
        aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Apellidos</span>
    <input type="text" class="form-control" placeholder="Apellidos" aria-label="lastname"
        aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Email</span>
    <input type="email" class="form-control" placeholder="Email" aria-label="email"
        aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Dirección</span>
    <input type="email" class="form-control" placeholder="Dirección" aria-label="address"
        aria-describedby="basic-addon1">
</div>

<div class="input-group">
    <span class="input-group-text">Comentarios</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

<button  type="button"  class="boton btn btn-primary">Sign in</button>