<main>
  <div class="active-routes">
    <h2>Rutas activas</h2>
    <app-table />
  </div>
  
  <div class="routes">
    <h2>Rutas existentes</h2>
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Sombrerete</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Dgo</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="/mapa">abrir mapa</a>
</main>