<main>
  <div class="vendedores-form">
    <h1>Vendedores</h1>
    <form action="">
      <div class="form-group">
        <div class="name mb-4">
          <span>Nombre</span>
          <input type="text">
        </div>
        <div class="apellido mb-4">
          <span>Apellido</span>
          <input type="text">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary me-md-2" type="button">Agregar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="vendedores-table">
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Arturo</td>
          <td>Covarrubias</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Carlos</td>
          <td>Madrid</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>