<table class="table table-striped-columns">
    <thead >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Ruta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Arturo</td>
        <td>Covarrubias</td>
        <td>Sombrerete</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Carlos</td>
        <td>Madrid</td>
        <td>Dgo</td>
      </tr>
    </tbody>
</table>